    /* تصميم الزر */
    .add-employee-btn {
        display: inline-block;
        background-color: #000;
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .add-employee-btn:hover {
        background-color: #3EBA84;
    }

    /* تصميم الفورم المنبثق */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* تصغير عرض الفورم */
    .modal-content {
        background-color: white;
        margin: 10% auto;
        padding: 20px;
        width: 35%;
        border-radius: 5px;
        text-align: center;
    }

    .close {
        color: red;
        float: right;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover {
        color: darkred;
    }

    label {
        font-weight: bold;
        display: block;
        margin-top: 10px;
        color: black;
        text-align: right;
    }

    input,
    select {
        width: 95%;
        padding: 8px;
        margin: 4px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

    /* زر الإضافة */
    button {
        background-color: #3EBA84;
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-top: 10px;
    }

    button:hover {
        background-color: #218838;
    }

    input {
        color: black;
    }

    /* تحسين التصميم للشاشات الصغيرة */
    @media screen and (max-width: 768px) {
        .modal-content {
            width: 80%;
        }

        input {
            width: 100%;
        }
    }
